<div class="row">
    <div class="col-md-12">
        <div style="padding: 30px;">
            <div class="form-group">
                <label for="">101. Desde enero de 2020 hasta hoy, ¿Usted realizó actividad</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_10" name="Encuesta01[p4_10]">
                            <label class="custom-control-label" for="p4_10">Agrícola?</label>
                        </div>
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_11" name="Encuesta01[p4_11]">
                            <label class="custom-control-label" for="p4_11">Pecuaria?</label>
                        </div>
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_12" name="Encuesta01[p4_12]">
                            <label class="custom-control-label" for="p4_12">Vivero y/o almácigo y/o semillero y/o huerto
                                semillero?</label>
                        </div>
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                            <label class="custom-control-label" for="p4_13">Extracción (productos de los bosques naturales,
                                etc)?</label>
                        </div>
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                            <label class="custom-control-label" for="p4_13">Extracción (petróleo, gas, generación y
                                transmisión de energía, minería, etc) ?</label>
                        </div>
    
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                            <label class="custom-control-label" for="p4_13">Transformación (producción de chancaca,
                                productos lácteos, produccion de biogas, artesanías, etc)?</label>
                        </div>
    
                    </div>
    
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_10" name="Encuesta01[p4_10]">
                            <label class="custom-control-label" for="p4_10">Comercio (venta de productos agrarios y no
                                agrarios (artesanías) ?</label>
                        </div>
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_11" name="Encuesta01[p4_11]">
                            <label class="custom-control-label" for="p4_11">Servicios (alquiler de maquinaria, taller de
                                mecánica, agroturismo, servicios ambientales, etc)?</label>
                        </div>
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_12" name="Encuesta01[p4_12]">
                            <label class="custom-control-label" for="p4_12">Pesca artesanal?</label>
                        </div>
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                            <label class="custom-control-label" for="p4_13">Acuicultura (cría y engorde de peces y
                                camarones)?</label>
                        </div>
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                            <label class="custom-control-label" for="p4_13">Tiene infraestructura agraria pero no está
                                activa los últimos 12 meses? </label>
                        </div>
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                            <label class="custom-control-label" for="p4_13">Ninguna.</label>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>