<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Form Validation" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">REGISTRAR PARCELA</h4>
                    <p class="card-title-desc">
                    
                    </p>
                    <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Tipo de persona</label>
                                    <select class="form-control disabled" name="" id="">
                                        <option value="">Seleccionar</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Nro Documento / RUC</label>
                                    <input type="text" class="form-control disabled" disabled>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Nombres y apellidos / Razón social</label>
                                    <input type="text" class="form-control disabled" disabled>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Region</label>
                                    <select class="form-control" name="" id="" formControlName="region"
                                    [ngClass]="{'is-invalid': typesubmit && type.region.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.region.errors" class="invalid-feedback">
                                        <span *ngIf="type.region.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Provincia</label>
                                    <select class="form-control" name="" id="" formControlName="provincia"
                                    [ngClass]="{'is-invalid': typesubmit && type.provincia.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.provincia.errors" class="invalid-feedback">
                                        <span *ngIf="type.provincia.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Distrito</label>
                                    <select class="form-control" name="" id="" formControlName="distrito"
                                    [ngClass]="{'is-invalid': typesubmit && type.distrito.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                </div>
                                <div *ngIf="typesubmit && type.distrito.errors" class="invalid-feedback">
                                    <span *ngIf="type.distrito.errors.required">Este campo es requerido.</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Dirección Fiscal</label>
                                    <select class="form-control" name="" id=""  formControlName="fiscal"
                                    [ngClass]="{'is-invalid': typesubmit && type.fiscal.errors}" >
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.fiscal.errors" class="invalid-feedback" >
                                        <span *ngIf="type.fiscal.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Correo electronico</label>
                                    <input type="text" class="form-control"  formControlName="email"
                                    [ngClass]="{'is-invalid': typesubmit && type.email.errors}">
                                </div>
                                <div *ngIf="typesubmit && type.email.errors" class="invalid-feedback" >
                                    <span *ngIf="type.email.errors.required">Este campo es requerido.</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Celular</label>
                                    <input type="text" class="form-control"  formControlName="celular"
                                    [ngClass]="{'is-invalid': typesubmit && type.celular.errors}">
                                </div>
                                <div *ngIf="typesubmit && type.celular.errors" class="invalid-feedback" >
                                    <span *ngIf="type.celular.errors.required">Este campo es requerido.</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Cantidad de parcelas</label>
                                    <input type="text" class="form-control"  formControlName="cantidad"
                                    [ngClass]="{'is-invalid': typesubmit && type.cantidad.errors}">
                                </div>
                                <div *ngIf="typesubmit && type.cantidad.errors" class="invalid-feedback" >
                                    <span *ngIf="type.cantidad.errors.required">Este campo es requerido.</span>
                                </div>
                            </div>
                        </div>

                        
                        
                        <div class="form-group mb-0">
                            <div>
                            <button type="submit" class="btn btn-success mr-1">
                                Guardar
                            </button>
                            <button type="reset" class="btn btn-secondary">
                                Volver
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
