<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="contenido_form">
                    <h4>Módulo III.A. ÁREA TOTAL EN USO Y COBERTURAS DE LA TIERRA DE LA PARCELA AGRARIA Y NO AGRARIA, AL DÍA DE LA ENTREVISTA</h4>
    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-secondary waves-effect waves-light mb-3 btn-sm">Agregar</button>
                                        <br>
                                        <table class="table table-hover" style="border: 1px solid #dcdcdf;">
                                            <thead style="background-color: #dcdcdf;">
                                                <th>#</th>
                                                <th>Hoy, ¿Qué uso y/o cobertura ?</th>
                                                <th>Nombre yvariedad del cultivo</th>
                                                <th>301b. Cantidad</th>
                                                <th>301b. U.M. </th>
                                                <th>301b. Equivalencia</th>
                                                <th>301c. Cantidad</th>
                                                <th>301c. U.M</th>
                                                <th>301c. Equivalencia</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Lote 1</td>
                                                    <td>Opcion 1</td>
                                                    <td>Opcion 1, Opcion 2</td>
                                                    <td>25.5</td>
                                                    <td>5</td>
                                                    <td>25.4</td>
                                                    <td>38.4</td>
                                                    <td>4</td>
                                                    <td>38.4</td>
                                                </tr>
                                                <tr>
                                                    <td>Lote 1</td>
                                                    <td>Opcion 1</td>
                                                    <td>Opcion 1, Opcion 2</td>
                                                    <td>25.5</td>
                                                    <td>5</td>
                                                    <td>25.4</td>
                                                    <td>38.4</td>
                                                    <td>4</td>
                                                    <td>38.4</td>
                                                </tr>
                                                <tr>
                                                    <td>Lote 1</td>
                                                    <td>Opcion 1</td>
                                                    <td>Opcion 1, Opcion 2</td>
                                                    <td>25.5</td>
                                                    <td>5</td>
                                                    <td>25.4</td>
                                                    <td>38.4</td>
                                                    <td>4</td>
                                                    <td>38.4</td>
                                                </tr>
                                                <tr>
                                                    <td>Lote 1</td>
                                                    <td>Opcion 1</td>
                                                    <td>Opcion 1, Opcion 2</td>
                                                    <td>25.5</td>
                                                    <td>5</td>
                                                    <td>25.4</td>
                                                    <td>38.4</td>
                                                    <td>4</td>
                                                    <td>38.4</td>
                                                </tr>
                                                <tr>
                                                    <td>Lote 1</td>
                                                    <td>Opcion 1</td>
                                                    <td>Opcion 1, Opcion 2</td>
                                                    <td>25.5</td>
                                                    <td>5</td>
                                                    <td>25.4</td>
                                                    <td>38.4</td>
                                                    <td>4</td>
                                                    <td>38.4</td>
                                                </tr>
                                                <tr>
                                                    <td>Lote 1</td>
                                                    <td>Opcion 1</td>
                                                    <td>Opcion 1, Opcion 2</td>
                                                    <td>25.5</td>
                                                    <td>5</td>
                                                    <td>25.4</td>
                                                    <td>38.4</td>
                                                    <td>4</td>
                                                    <td>38.4</td>
                                                </tr>
                                            </tbody>
                                            <thead style="background-color: #dcdcdf;">
                                                <th colspan="3">Area Total</th>
                                                <th>0</th>
                                                <th>0</th>
                                                <th>0</th>
                                                <th>0</th>
                                                <th>0</th>
                                                <th>0</th>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Observaciones </label>
                                            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="contenido_form">
                    <h4>Módulo III.A. NÚMERO DE PARCELAS AGRARIA EN EL DISTRITO, AL DIA DE LA ENTREVISTA</h4>
    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">302. Además de esta parcela, ¿conduce o trabaja como productor/a en otras parcelas dentro de este distrito?</label>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked="">
                                            <label class="form-check-label" for="exampleRadios1">
                                                SI
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                            <label class="form-check-label" for="exampleRadios1">
                                                NO
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="">303. ¿Incluyendo esta parcela, actualmente ¿Cuántas parcelas en total conduce en este distrito?</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Total de parcelas">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="">304. ¿Cual es la superficie total de las parcelas que conduce en este distrito?</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-secondary waves-effect waves-light mb-3 btn-sm">Agregar</button>
                                        <table class="table table-hover" style="border: 1px solid #dcdcdf;">
                                            <thead style="background-color: #dcdcdf;">
                                                <th>Nro Parcelas</th>
                                                <th>Superficie total</th>
                                                <th>Equivalencia</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>234.3</td>
                                                    <td>2342.23</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>234.3</td>
                                                    <td>2342.23</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>234.3</td>
                                                    <td>2342.23</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="contenido_form">
                    <h4>Módulo III.B. RÉGIMEN DE TENENCIA DE LAS TIERRAS DE LA PARCELA AGRARIA, AL DÍA DE LA ENTREVISTA</h4>
                    <div class="form-group">
                        <label for="">305. De esta parcela agraria, ¿Usted es</label>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                                    <input type="checkbox" class="custom-control-input" id="p4_10" name="Encuesta01[p4_10]">
                                    <label class="custom-control-label" for="p4_10">Propietario/a?</label>
                                </div>
            
                                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                                    <input type="checkbox" class="custom-control-input" id="p4_11" name="Encuesta01[p4_11]">
                                    <label class="custom-control-label" for="p4_11">Comunero/a?</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                                    <input type="checkbox" class="custom-control-input" id="p4_12" name="Encuesta01[p4_12]">
                                    <label class="custom-control-label" for="p4_12">Arrendatario/a?</label>
                                </div>
            
                                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                                    <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                                    <label class="custom-control-label" for="p4_13">Posesonario/a?</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                                    <input type="checkbox" class="custom-control-input" id="p4_12" name="Encuesta01[p4_12]">
                                    <label class="custom-control-label" for="p4_12">Arrendatario/a?</label>
                                </div>
            
                                <input type="text" class="form-control" placeholder="Otro">
                            </div>
                            
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>
