<div class="container-fluid">
    <app-page-title title="Advanced Table" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
    <div class="col-12">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">PARCELAS</h4>
            <p class="card-sub-title">
                <a [routerLink]="['/parcela/registro']" class="btn btn-success">Crear Parcela</a>
            </p>
            <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="tickets-table_length"><label
                    class="d-inline-flex align-items-center">Show
                    <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                    </select> entries</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
                <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                    class="d-inline-flex align-items-center">Search:
                    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <!-- End search -->
            </div>
            <!-- Table -->
            <div class="table-responsive">
            <table id="basic-datatable"
                class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                <thead>
                <tr>
                    <th></th>
                    <th sortable="region" (sort)="onSort($event)">Region</th>
                    <th sortable="provincia" (sort)="onSort($event)">Provincia</th>
                    <th sortable="distrito" (sort)="onSort($event)">Distrito</th>
                    <th sortable="natural" (sort)="onSort($event)">Region Natural</th>
                    <th sortable="ecologico" (sort)="onSort($event)">Piso Ecologico</th>
                    <th sortable="segmento" (sort)="onSort($event)">Segmento</th>
                    <th sortable="especifica" (sort)="onSort($event)">Estratificación</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngFor="let table of tables$ | async;let i=index">
                <tr>
                    
                    <td>
                        {{ table.codigo }}
                    </td>
                    <td>
                        {{ table.region }}
                    </td>
                    <td>
                        {{ table.provincia }}
                    </td>
                    <td>
                        {{ table.distrito }}
                    </td>
                    <td>
                        {{ table.natural }}
                    </td>
                    <td>
                        {{ table.piso }}
                    </td>
                    <td>
                        {{ table.segmento }}
                    </td>
                    <td>
                        {{ table.estratificacion }}
                    </td>
                    <td>
                        <button class="btn btn-warning">Editar </button>&nbsp;
                        <button class="btn btn-info">Encuesta </button>&nbsp;
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>

                </tbody>
            </table>
            </div>
            <!-- End table -->
            <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
                </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-right pagination-rounded">
                    <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize"></ngb-pagination>
                </div>
            </div>
            <!-- End Pagination -->
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
