<br>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">201. El PRODUCTOR es: </label>
            <select name="" id="" class="form-control">
                <option value="">Seleccionar</option>
            </select> <br>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Módulo II.A. IDENTIFICACIÓN DEL PRODUCTOR/A PERSONA NATURAL</h3>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">202. ¿En esta parcela quién o quiénes toman las principales decisiones de la
                                actividad
                                agraria?</label>

                            <div>
                                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                                    <input type="checkbox" class="custom-control-input" id="p4_11"
                                        name="Encuesta01[p4_11]">
                                    <label class="custom-control-label" for="p4_11">¿El productor?</label>
                                </div>

                                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                                    <input type="checkbox" class="custom-control-input" id="p4_12"
                                        name="Encuesta01[p4_12]">
                                    <label class="custom-control-label" for="p4_12">¿La productora?</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                                    <input type="checkbox" class="custom-control-input" id="p4_12"
                                        name="Encuesta01[p4_12]">
                                    <label class="custom-control-label" for="p4_12"> ¿Conjunto? (Esposo-esposa;
                                        Esposo-hijo/hija; Esposa-hijo/hija, otro)</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">203. ¿Cuáles son los apellidos y nombres del productor/a?</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombres">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Apellidos">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">204. ¿Cuál es su N° de DNI?</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="DNI">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">205. ¿Cuál es su número de teléfono/celular?</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Telefono fijo">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Celular">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">206. ¿Cuál es el correo electrónico?</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Correo">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">207. La información fue proporcionada por: </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Otro">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">208. ¿Cuáles son los apellidos y nombres del informante? </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombres">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Apellidos">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">209. ¿Cuál es su número de teléfono/celular? </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Telefono fijo">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Celular">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">210. ¿Dónde vive el productor/a agrario/a? </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Región </label>
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Provincia </label>
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Distrito </label>
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Centro Poblado </label>
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">211. ¿Usted pertenece a una comunidad campesina/comunidad nativa? </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Observaciones </label>
                            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Módulo II.B. IDENTIFICACIÓN DEL PRODUCTOR/A PERSONA JURÍDICA</h3>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">212. Razon Social</label>
                            <input type="text" class="form-control" placeholder="Razon Social">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">213. ¿Cuál es el número de RUC? (11 dígitos)</label>
                            <input type="text" class="form-control" placeholder="RUC">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">214. ¿Cuáles son los apellidos y nombres del representante legal:</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombres">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Apellidos">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">215. ¿Cuál es el nombre del Centro Poblado o Ciudad donde está ubicada la
                                empresa?</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Región </label>
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Provincia </label>
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Distrito </label>
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Centro Poblado </label>
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">216. ¿Cuál es el domicilio fiscal de la empresa?</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Tipo de via</label>
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">&nbsp;</label>
                            <input type="text" class="form-control" placeholder="Otros">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Nombre de la avenida, calle, jirón, pasaje, carretera, etc:</label>
                            <input type="text" class="form-control" placeholder="Avenida">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">N° Puerta:</label>
                            <input type="text" class="form-control" placeholder="N° Puerta">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Block:</label>
                            <input type="text" class="form-control" placeholder="Block">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Interior:</label>
                            <input type="text" class="form-control" placeholder="Interior">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Piso:</label>
                            <input type="text" class="form-control" placeholder="Piso">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Manzana:</label>
                            <input type="text" class="form-control" placeholder="Manzana">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Lote:</label>
                            <input type="text" class="form-control" placeholder="Lote">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">217. ¿Cuáles son los apellidos y nombres del informante?</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombres">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Apellidos">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">218. ¿Qué cargo ocupa en la empresa?</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Otros">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">219. ¿Cuál es su número de teléfono/celular?</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Telefono fijo">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Celular">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">220. ¿Cuál es el correo electrónico?</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Correo">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">221. ¿Cuál es el nombre de esta parcela, chacra o fundo?</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre parcela">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Observaciones</label>
                            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>