<div class="contenido_form">
    <h5>Módulo IV.A. CULTIVOS TRANSITORIOS (CICLO CORTO), CULTIVOS PERMANENTES (CICLO LARGO), PLANTACIONES FORESTALES, PASTOS CULTIVADOS Y BARBECHOS</h5>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary waves-effect waves-light mb-3">Agregar</button>
                        <br>
                        <table class="table table-hover" style="border: 1px solid #dcdcdf;">
                            <thead style="background-color: #dcdcdf;">
                                <th>Nro Lote</th>
                                <th>Cultivo</th>
                                <th>Variedad Cultivo</th>
                                <th>Fecha Siembra</th>
                                <th>Fecha Incio Cosecha</th>
                                <th>Fecha Fin Cosecha </th>
                                <th>Acciones</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lote 1</td>
                                    <td>Opcion 1</td>
                                    <td>Opcion 1, Opcion 2</td>
                                    <td>10/10/2021</td>
                                    <td>10/10/2021</td>
                                    <td>10/10/2021</td>
                                    <td>
                                        <button type="button" class="btn btn-primary waves-effect waves-light mb-3 btn-sm">Editar</button>
                                        <button type="button" class="btn btn-danger waves-effect waves-light mb-3 btn-sm" style="margin-left:10px;">Eliminar</button>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contenido_form">
    <h5>Módulo IV. B. ARBOLES FRUTALES, INDUSTRIALES Y ESPECIES FORESTALES PLANTADOS EN FORMA DISPERSA EN LA PARCELA AGRARIA, EL DÍA DE LA ENTREVISTA</h5>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary waves-effect waves-light mb-3">Agregar</button>
                        <br>
                        <table class="table table-hover" style="border: 1px solid #dcdcdf;">
                            <thead style="background-color: #dcdcdf;">
                                <th>Nro Lote</th>
                                <th>Variedad Cultivo</th>
                                <th>Cuantos Plantones</th>
                                <th>Cuantas plantas estan en producción </th>
                                <th>Cuales fueron los meses de producción</th>
                                <th>Acciones</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lote 1</td>
                                    <td>Opcion 1</td>
                                    <td>2</td>
                                    <td>23</td>
                                    <td>55</td>
                                    <td>
                                        <button type="button" class="btn btn-primary waves-effect waves-light mb-3 btn-sm">Editar</button>
                                        <button type="button" class="btn btn-danger waves-effect waves-light mb-3 btn-sm" style="margin-left:10px;">Eliminar</button>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contenido_form">
    <h5>Módulo IV. D. PASTOS NATURALES EN LA PARCELA AGRARIA EL DÍA DE LA ENTREVISTA</h5>
    <div class="form-group">
        <p>437. ¿Qué clase de pastos naturales hay en la parcela?</p>
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p4_10" name="Encuesta01[p4_10]">
                    <label class="custom-control-label" for="p4_10">Pajonales (la chilligua, el iro ichu, ichu, hatun porke y el huaylla ichu)</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p4_11" name="Encuesta01[p4_11]">
                    <label class="custom-control-label" for="p4_11">Césped de puna (pacu pacu, mula pilli, pilli rosado, pasto estrella y thurpa)</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p4_12" name="Encuesta01[p4_12]">
                    <label class="custom-control-label" for="p4_12">Bofedales u Oqonales (la kunkuna, hierbas como el libro libro, sillu sillu, pilli, y puna)</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                    <label class="custom-control-label" for="p4_13">Tolares (chillca tola, pasto estrella, pesq`e, y también gramíneas como chilligua e iro ichu)</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p4_14" name="Encuesta01[p4_14]">
                    <label class="custom-control-label" for="p4_14">Canllares (china kanlli y orqokanlli)</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p4_15" name="Encuesta01[p4_15]">
                    <label class="custom-control-label" for="p4_15">Totorales y juncales (aguazal, estero, carrizal, cañaveral, marisma o pantano)</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p4_16" name="Encuesta01[p4_16]">
                    <label class="custom-control-label" for="p4_16">Colchas, champa, Torourco o pasto natural</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p4_17" name="Encuesta01[p4_17]">
                    <label class="custom-control-label" for="p4_17">Otros</label>
                    <input type="text" class="form-control" placeholder="Especifique">
                </div>
            </div>
            
        </div>
    </div>

    <div class="form-group">
        <label for="">438. ¿Qué labores culturales realiza en los pastos naturales?</label>
        <div class="row">
            <div class="col-md-6">
                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p2_10" name="Encuesta02[p2_10]">
                    <label class="custom-control-label" for="p2_10">¿Rotación de potreros?</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p2_11" name="Encuesta02[p2_11]">
                    <label class="custom-control-label" for="p2_11">¿Revegetación (gramíneas/leguminosas)?</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p2_12" name="Encuesta02[p2_12]">
                    <label class="custom-control-label" for="p2_12">¿Entresíembra con trébol?</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p2_13" name="Encuesta02[p2_13]">
                    <label class="custom-control-label" for="p2_13">¿Sístemas Sílvopastoriles?</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p2_14" name="Encuesta02[p2_14]">
                    <label class="custom-control-label" for="p2_14">¿Fertilización?</label>
                </div>


                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p2_15" name="Encuesta02[p2_15]">
                    <label class="custom-control-label" for="p2_15">¿Abonamiento?</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p2_16" name="Encuesta02[p2_16]">
                    <label class="custom-control-label" for="p2_16">¿Riego?</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p2_17" name="Encuesta02[p2_17]">
                    <label class="custom-control-label" for="p2_17">¿Quema?</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p2_18" name="Encuesta02[p2_18]">
                    <label class="custom-control-label" for="p2_18">Construccion de terrazas, surcos, diques y waru waru</label>
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p2_19" name="Encuesta02[p2_19]">
                    <label class="custom-control-label" for="p2_19">Otros</label>
                    <input type="text" class="form-control" placeholder="Especifique">
                </div>

                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="p2_20" name="Encuesta02[p2_20]">
                    <label class="custom-control-label" for="p2_20">Ninguna</label>
                </div>
            </div>
            
            
        </div>
    </div>

    <div class="form-group">
        <label for="">439. ¿Cómo consídera la condición de sus pastos naturales?</label>
        <div class="col-md-4">
            <select class="form-control">
                <option>Seleccionar</option>
                <option>Buena</option>
                <option>Regular</option>
                <option>Pobre</option>
            </select>
        </div>
    </div>
</div>

<div class="contenido_form">
    <h5>Módulo IV. E. PRÁCTICAS AGRÍCOLAS PARA LOS CULTIVOS COSECHADOS Y NO COSECHADOS EN LA PARCELA AGRARIA ENTRE ENERO A DICIEMBRE DE 2020</h5>

    <table class="table table-hover" style="border: 1px solid #dcdcdf;">
        
            <tr  style="background-color: #dcdcdf;">
                <td colspan="2" class="centrado_negrita">440. ¿Ud efectúa la práctica agrícola de:</td> 
                <td rowspan="2" class="centrado_negrita">441. ¿Hace cuántos años efectúa la práctica agrícola? <br> <br> (Años)</td>
            </tr>
            <tr  style="background-color: #dcdcdf;">
                <td class="centrado_negrita">Tipo de práctica</td>
                <td class="centrado_negrita">SÍ = 1 NO = 2</td>
            </tr>

            <tr>
                <td colspan="2">
                    <strong> A. Solo para cultivos transítorios</strong>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    1. Mezcla de la tierra con materia orgánica?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>

                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    2. Arado o volteado de la tierra?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    3. Desterronado o desmenuzado de la tierra?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    4. Nivelado del terreno?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>

            <!-- B -->

            <tr>
                <td colspan="2">
                    <strong> B. Para todos los cultivos </strong>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    5. Análisis de suelos?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    6. Recuperación de suelos erosionados?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    7. Recuperación de suelos compactados?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    8. Producción orgánica?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>

            <tr>
                <td>
                    9. Uso de bioinsumos?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>

            <tr>
                <td>
                    10. Usar abonos (guano, estiercol, etc.)?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    11. Usar fertilizantes químicos?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    12. Usar plaguicidas?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    13. Aplicar manejo integrado de plagas y/o enfermedades?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>

            <!-- C -->
            <tr>
                <td colspan="2">
                    <strong> C. Solo para cultivos en la Síerra </strong>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    14. Construcción de terrazas (andenes), zanjas de infiltración y/o rehabilitación de andenes?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    15. Construcción de surcos en contorno a la pendiente del terreno?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    16. Construcción de diques?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>
            <tr>
                <td>
                    17. Construcción de waru waru?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>

            <!-- D -->
            <tr>
                <td colspan="2">
                    <strong> D. Solo cuando la parcela tiene riego </strong>
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    18. Determinar la cantidad de agua que necesíta su cultivo antes de iniciar la campaña agrícola?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>

            <tr>
                <td>
                    19. Determina cada cuanto tiempo debe regar su cultivo antes de iniciar la campaña agrícola?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>

            <tr>
                <td>
                    20. Medición de la cantidad de agua que entra a su parcela?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>

            <tr>
                <td>
                    21. Realizar el mantenimiento de su sistema de riego?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>

            <tr>
                <td>
                    22. Realizar análisís de agua?
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    SI
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                                <label class="form-check-label" for="exampleRadios1">
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Años">
                </td>
            </tr>

    </table>

    <br>
    <h5>PLAGUICIDAS DESDE ENERO A DICIEMBRE DE 2020</h5>
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="">442. ¿Utiliza equipo de protección para la aplicación de los plaguicidas?</label>
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>Seleccionar</option>
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="">443. ¿Qué hace con los envases vacíos de los plaguicidas (insecticidas, fungicidas, herbicidas, acaricidas, bactericidas, nematicidas, rodenticidas, molusquicidas, etc)?</label>
                <div class="row">
                    <div class="col-md-4">
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_10" name="Encuesta01[p4_10]">
                            <label class="custom-control-label" for="p4_10">Control cultural (podas, preparación, limpieza de campo, etc)</label>
                        </div>
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_11" name="Encuesta01[p4_11]">
                            <label class="custom-control-label" for="p4_11">Control físíco (barreras naturales, cercos vivos, plasticultura)</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_12" name="Encuesta01[p4_12]">
                            <label class="custom-control-label" for="p4_12">Control químico (plaguicidas)</label>
                        </div>
    
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                            <label class="custom-control-label" for="p4_13">Control biológico (Nota: Si marca esta opción continúa con P445 sino pasa al Capítulo V)</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                            <label class="custom-control-label" for="p4_13">Uso de plantas repelentes o atrayentes</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                            <label class="custom-control-label" for="p4_13">Uso de feromonas para atraer los insectos y/o usa de trampas de luz, etc</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_13" name="Encuesta01[p4_13]">
                            <label class="custom-control-label" for="p4_13">Control legal</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                            <input type="checkbox" class="custom-control-input" id="p4_12" name="Encuesta01[p4_12]">
                            <label class="custom-control-label" for="p4_12">Otro</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Especifique">
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>

        </div>
    </div>

    <br>
    <h5>CONTROL BIOLOGICO (Solo si en P444 seleccionó el punto 4)</h5>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="">445. ¿Realiza evaluación de plagas después de aplicado el control biológico?</label>
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>Seleccionar</option>
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="">446. ¿Anota o registra la aplicación del control biológico (fecha, cantidad usada, etc)?</label>
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>Seleccionar</option>
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="">Observaciones </label>
                <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
            </div>


        </div>
    </div>

</div>