<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Form Validation" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">REGISTRAR PARCELA</h4>
                    <p class="card-title-desc">
                    
                    </p>
                    <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Geo código</label>
                                    <input type="text" class="form-control" formControlName="geo"
                                    [ngClass]="{'is-invalid': typesubmit && type.geo.errors}" />
                                    <div *ngIf="typesubmit && type.geo.errors" class="invalid-feedback">
                                        <span *ngIf="type.geo.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Region</label>
                                    <select class="form-control" name="" id="" formControlName="region"
                                    [ngClass]="{'is-invalid': typesubmit && type.region.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.region.errors" class="invalid-feedback">
                                        <span *ngIf="type.region.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Provincia</label>
                                    <select class="form-control" name="" id="" formControlName="provincia"
                                    [ngClass]="{'is-invalid': typesubmit && type.provincia.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.provincia.errors" class="invalid-feedback">
                                        <span *ngIf="type.provincia.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Distrito</label>
                                    <select class="form-control" name="" id="" formControlName="distrito"
                                    [ngClass]="{'is-invalid': typesubmit && type.distrito.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                </div>
                                <div *ngIf="typesubmit && type.distrito.errors" class="invalid-feedback">
                                    <span *ngIf="type.distrito.errors.required">Este campo es requerido.</span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Region Natural</label>
                                    <select class="form-control" name="" id="" formControlName="natural"
                                    [ngClass]="{'is-invalid': typesubmit && type.natural.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.natural.errors" class="invalid-feedback">
                                        <span *ngIf="type.natural.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Piso ecologico</label>
                                    <select class="form-control" name="" id=""  formControlName="piso"
                                    [ngClass]="{'is-invalid': typesubmit && type.piso.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.piso.errors" class="invalid-feedback">
                                        <span *ngIf="type.piso.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Segmento</label>
                                    <select class="form-control" name="" id=""  formControlName="segmento"
                                    [ngClass]="{'is-invalid': typesubmit && type.segmento.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.segmento.errors" class="invalid-feedback">
                                        <span *ngIf="type.segmento.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Estratificación</label>
                                    <select class="form-control" name="" id="" formControlName="especifica"
                                    [ngClass]="{'is-invalid': typesubmit && type.especifica.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.especifica.errors" class="invalid-feedback" >
                                        <span *ngIf="type.especifica.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Tipo de grilla</label>
                                    <select class="form-control" name="" id=""  formControlName="grilla"
                                    [ngClass]="{'is-invalid': typesubmit && type.grilla.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.grilla.errors" class="invalid-feedback" >
                                        <span *ngIf="type.grilla.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Código segmento empresa</label>
                                    <select class="form-control" name="" id="" formControlName="segmento_empresa"
                                    [ngClass]="{'is-invalid': typesubmit && type.segmento_empresa.errors}">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.segmento_empresa.errors" class="invalid-feedback">
                                        <span *ngIf="type.segmento_empresa.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Número de parcela en el segmento/en la empresa</label>
                                    <input type="text" class="form-control disabled" disabled>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Total de parcelas en el segmento/empresa</label>
                                    <input type="text" class="form-control disabled" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Nombre de la Comunidad Campesina o Comunidad Nativa</label>
                                    <select class="form-control" name="" id=""  formControlName="nativa"
                                    [ngClass]="{'is-invalid': typesubmit && type.nativa.errors}" >
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.nativa.errors" class="invalid-feedback" >
                                        <span *ngIf="type.nativa.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Nombre de centro poblado mas cercano</label>
                                    <select class="form-control" name="" id=""  formControlName="cercano"
                                    [ngClass]="{'is-invalid': typesubmit && type.cercano.errors}" >
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div *ngIf="typesubmit && type.cercano.errors" class="invalid-feedback" >
                                        <span *ngIf="type.cercano.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Observacion</label>
                                    <textarea name="" id="" cols="30" rows="5" class="form-control" formControlName="obs"
                                    [ngClass]="{'is-invalid': typesubmit && type.obs.errors}"></textarea>
                                    <div *ngIf="typesubmit && type.obs.errors" class="invalid-feedback" >
                                        <span *ngIf="type.obs.errors.required">Este campo es requerido.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="form-group mb-0">
                            <div>
                                <button type="submit" class="btn btn-success mr-1">
                                    Guardar
                                </button>
                                <a [routerLink]="['/parcela/lista']" class="btn btn-secondary">Volver</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
