<div class="container-fluid">
    <app-page-title title="ENCUESTA E.N.A." [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Custom Tabs</h4>
                <p class="card-title-desc">Example of custom tabs</p> -->
                <ul ngbNav #customNav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>
                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                            <span class="d-none d-sm-block">CAP. I</span>
                        </a>
                        <ng-template ngbNavContent>
                            <ng-template [ngTemplateOutlet]="TabContent1"></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                        <span class="d-none d-sm-block">CAP. II</span>
                        </a>
                        <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent2"></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                        <span class="d-none d-sm-block">CAP. III</span>
                        </a>
                        <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent3"></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                        <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">CAP. IV</span>
                        </a>
                        <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent4"></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="5">
                        <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">CAP. V</span>
                        </a>
                        <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent5"></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="6">
                        <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">CAP. VI</span>
                        </a>
                        <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent6"></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="7">
                        <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">CAP. VII</span>
                        </a>
                        <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent7"></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="8">
                        <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">CAP. VIII</span>
                        </a>
                        <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent8"></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="9">
                        <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">CAP. IX</span>
                        </a>
                        <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent9"></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="10">
                        <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">CAP. X</span>
                        </a>
                        <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent10"></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="11">
                        <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">CAP. XI</span>
                        </a>
                        <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent11"></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="12">
                        <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">CAP. XII</span>
                        </a>
                        <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent12"></ng-template>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="customNav"></div>
            </div>
            </div>
        </div>
    </div>

    <!-- Tab Content -->
    <ng-template #TabContent1>
        <app-uno></app-uno>
    </ng-template>

    <!-- Tab Content -->
    <ng-template #TabContent2>
        <app-dos></app-dos>
    </ng-template>

    <ng-template #TabContent3>
        <app-tres></app-tres>
    </ng-template>
    <ng-template #TabContent4>
        <app-cuatro></app-cuatro>
    </ng-template>
    <ng-template #TabContent5>
        <p class="p-3 mb-0">
        Raw denim you probably haven't heard of them jean shorts Austin.
        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher
        voluptate nisi qui.
        </p>
    </ng-template>
    <ng-template #TabContent6>
        <p class="p-3 mb-0">
        Raw denim you probably haven't heard of them jean shorts Austin.
        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher
        voluptate nisi qui.
        </p>
    </ng-template>
    <ng-template #TabContent7>
        <p class="p-3 mb-0">
        Raw denim you probably haven't heard of them jean shorts Austin.
        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher
        voluptate nisi qui.
        </p>
    </ng-template>
    <ng-template #TabContent8>
        <p class="p-3 mb-0">
        Raw denim you probably haven't heard of them jean shorts Austin.
        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher
        voluptate nisi qui.
        </p>
    </ng-template>
    <ng-template #TabContent9>
        <p class="p-3 mb-0">
        Raw denim you probably haven't heard of them jean shorts Austin.
        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher
        voluptate nisi qui.
        </p>
    </ng-template>
    <ng-template #TabContent10>
        <p class="p-3 mb-0">
        Raw denim you probably haven't heard of them jean shorts Austin.
        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher
        voluptate nisi qui.
        </p>
    </ng-template>
    <ng-template #TabContent11>
        <p class="p-3 mb-0">
        Raw denim you probably haven't heard of them jean shorts Austin.
        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher
        voluptate nisi qui.
        </p>
    </ng-template>
    <ng-template #TabContent12>
        <p class="p-3 mb-0">
        Raw denim you probably haven't heard of them jean shorts Austin.
        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher
        voluptate nisi qui.
        </p>
    </ng-template>

